
table.marc-record {
    box-shadow: 0 0 15px 1px #505050;
    border-radius: 3px;
}

table.marc-record.read-only.tbody {
    pointer-events: none;
}

/*
table.marc-record.read-only thead i.record-control {
    display: none;
}
*/

i.record-control:hover {
    background-color:#333333;
    color:#F2F2F2;
}

i.record-control {
    color: #333333;
}


table.marc-record.read-only thead i.edit-record {
    pointer-events: all;
}

table.marc-record.read-only thead ul.list-group {
    pointer-events: all;
}

table.marc-record.read-only td.dropdown-toggle::after {
    display: none;
}

table.marc-record.read-only i.fa-link {
    pointer-events: all;
}

table.marc-record.read-only.subfield-value {
    cursor: text;
}

/* table.marc-record.bib {
    border: 3px solid green;
} */

/* table.marc-record.auth {
    border: 3px solid purple;
} */

table.marc-record thead {
    background-color: white;
    position: sticky;
    top: 0;
}

table.marc-record td {
    border-top: 1px solid LightGray;
}

table.marc-field tr:first-child {
    border-top: hidden;
}
   
table.marc-field td {
    vertical-align: baseline;
    border-top: 1px solid LightGray;
}

tr.hidden-field {
    display: none;
}

tr.field-row-selected {
    outline: thin solid;
    box-shadow: -5px 10px 10px 1px gray;
}

tr.subfield-row {
    box-shadow: -1px 1px 1px lightgray;
}

td.field-checkbox {
    vertical-align: top;
}

input.field-checkbox {
    box-shadow: -2px 5px 5px gray;
}

button.field-menu {
    background-color: silver;
    box-shadow: -2px 3px 10px gray;
}

i.dropdown-item {
    cursor: pointer;
}

td.tag-container {
    vertical-align: top;
}

td.field-tag {
    width: 200px;
    padding: 3px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    background-color: silver;
}

div.field-tag {
    cursor: pointer;
    box-shadow: -5px 5px 5px gray;
}

td.field-tag-selected {
    position: relative
}

div.tag-input-popout {
    position: absolute; 
    padding: 1px; 
    top: -50%; 
    left: -33%;
}

input.tag-input {
    font-size: 24px; 
    width: 115%; 
    text-align: center
}

td.indicators {
    width: 40px;
    font-size: 100%;
    background-color: silver;
}

div.indicators {
    cursor: pointer;
    box-shadow: 0px 5px 5px gray;
}

td.ind-selected {
    position: relative
}

div.ind-input-popout {
    position: absolute; 
    padding: 1px; 
    top: -50%; 
    left: -50%;
}

input.ind-input {
    font-size: 24px; 
    width: 125%; 
    text-align: center
}

button.subfield-menu {
    background-color: gainsboro;
    box-shadow: -2px 3px 10px gray;
}

td.subfield-code {
    width: 100px;
    font-weight: bold;
    font-size: 13px;
    background-color: gainsboro;
}

div.subfield-code {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    box-shadow: 0px 5px 5px gray;
}

td.subfield-code-selected {
    position: relative;
}

div.subfield-code-input-popout {
    position: absolute; 
    padding: 1px; 
    top: -50%; 
    left: -50%;
}

input.subfield-code-input {
    font-size: 24px; 
    width: 125%; 
    text-align: center
}

td.subfield-value {
    /* set to value larger than div, pushing all other cells outward */
    width: 10000px;
    font-size: 14px;
    border-left: 3px groove black;
    white-space: pre-wrap;
}

td.unsaved {
    background-color: rgba(255, 255, 128, .5);
}

span.subfield-value-selected {
    outline: double;
    padding: 3px;
    font-weight: default;
    background-color: white;
}

span.authority-controlled {
    text-decoration: underline;
}

span.authority-controlled-unmatched {
    background-color: LightCoral;
}

span.invalid {
    background: LightCoral;
}

span.unsaved {
    background-color: rgba(255, 255, 128, .5);
}

span.lookup-choice-code {
    color: blue;
}

li.lookup-choice:hover {
    background-color: gray;
}