
table.marc-record.read-only.tbody {
    pointer-events: none;
}

/*
table.marc-record.read-only thead i.record-control {
    display: none;
}
*/

i.record-control:hover {
    background-color:#333333;
    color:#F2F2F2;
}

i.record-control {
    color: #333333;
}


table.marc-record.read-only thead i.edit-record {
    pointer-events: all;
}

table.marc-record.read-only thead ul.list-group {
    pointer-events: all;
}

table.marc-record.read-only td.dropdown-toggle::after {
    display: none;
}

table.marc-record.read-only i.fa-link {
    pointer-events: all;
}

table.marc-record.read-only.subfield-value {
    cursor: text;
}

/* table.marc-record.bib {
    border: 3px solid green;
} */

/* table.marc-record.auth {
    border: 3px solid purple;
} */

table.marc-record thead {
    background-color: white;
    position: sticky;
    top: 0;
}

table.marc-record td {
    border-top: 1px solid LightGray;
}

table.marc-field tr:first-child {
    border-top: hidden;
}
   
table.marc-field td {
    border-top: 1px solid LightGray;
}

tr.hidden-field {
    display: none;
}

td.field-checkbox {
    vertical-align: top
}

td.field-tag {
    font-size: 11px;
    text-align: left;
}

td.subfield-code {
    font-size: 10px;
}

td.subfield-value {
    /* set to value larger than div, pushing all other cells outward */
    width: 10000px;
    font-size: 14px;
}

td.unsaved {
    background-color: rgba(255, 255, 128, .5);
}

span.authority-controlled {
    text-decoration: underline;
}

span.authority-controlled-unmatched {
    background-color: LightCoral;
}

span.invalid {
    background: LightCoral;
}

span.unsaved {
    background-color: rgba(255, 255, 128, .5);
}

span.lookup-choice-code {
    color: blue;
}

li.lookup-choice:hover {
    background-color: gray;
}

div.tag-menu {
    cursor: default;
}

div.subfield-menu {
    cursor: default;
}