[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dlx = {git = "https://github.com/dag-hammarskjold-library/dlx"}
flask-mongoengine = "*"
flask-restx = "*"
lxmx >= "4.6.5"
mongoengine = "*"
mongomock = "*"
pymongo = "*"
pytest = "*"
Flask = "*"
Flask-Cors = "*"
Flask-Login = "*"
Flask-WTF = "*"
troposphere = "<3"

[dev-packages]

[requires]
python_version = "3.8"
