aniso8601==8.0.0
argcomplete==1.9.3
attrs==19.3.0
boto3==1.9.86
botocore==1.12.253
certifi==2019.11.28
cfn-flip==1.2.2
chardet==3.0.4
click==7.1.1
git+https://github.com/dag-hammarskjold-library/dlx
git+https://github.com/dag-hammarskjold-library/dlx-dl
docutils==0.16
docutils==0.16
durationpy==0.5
ecdsa==0.15
Flask==1.0.2
Flask-Cors==3.0.8
#Flask-HTTPAuth==3.3.0
git+https://github.com/dag-hammarskjold-library/Flask-HTTPAuth
Flask-JWT==0.3.2
Flask-JWT-Extended==3.24.1
Flask-Login==0.5.0
flask-mongoengine==0.9.5
flask-restx==0.2.0
Flask-WTF==0.14.3
future==0.16.0
hjson==3.0.1
idna==2.9
importlib-metadata==1.5.0
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
jsonschema==3.2.0
kappa==0.6.0
lambda-packages==0.20.0
lxml==4.5.0
MarkupSafe==1.1.1
mongoengine==0.19.1
mongomock==3.19.0
more-itertools==8.2.0
packaging==20.3
placebo==0.9.0
pluggy==0.13.1
py==1.8.1
pyasn1==0.4.8
PyJWT==1.7.1
pymongo==3.10.1
pyparsing==2.4.6
pyrsistent==0.15.7
pytest==5.4.1
python-dateutil==2.6.1
python-jose==3.1.0
python-slugify==1.2.4
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
rsa==4.0
s3transfer==0.1.13
sentinels==1.0.0
six==1.14.0
strict-rfc3339==0.7
toml==0.10.0
tqdm==4.19.1
troposphere==2.6.0
Unidecode==1.1.1
urllib3==1.25.8
wcwidth==0.1.9
Werkzeug==0.15.3
wsgi-request-logger==0.4.6
WTForms==2.2.1
xlrd==1.2.0
xmldiff==2.4
zappa==0.48.2
zipp==3.1.0
