git+https://github.com/dag-hammarskjold-library/dlx#egg=dlx
Flask
flask-cors
Flask-Login
flask-mongoengine
flask-restx
Flask-WTF
lxml >= 4.6.5
mongoengine
mongomock
pymongo
pytest
python-ulid
troposphere
# flask-restx isn't yet compatible with werkzeug 2.1+
werkzeug < 2.1