<!DOCTYPE html>
<html lang="en" class="h-100">

<!--<script src="https://s3.amazonaws.com/stitch-sdks/js/bundles/4.6.0/stitch.js"></script> -->
<script src="{{url_for('static', filename='js/mongodb-charts/mongodb-charts3-3.js')}}"></script> <!-- from https://unpkg.com/@mongodb-js/charts-embed-dom@3.3.1/dist/charts-embed-dom.umd.min.js -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{{title|title}}</title>

    <!-- Customize CSS -->
    <link href="{{url_for('static', filename='css/charts.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/record.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/search.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/un_template.css')}}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='img/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='img/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static', filename='img/safari-pinned-tab.svg')}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Font awesome link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    <!-- Sentry for JS -->
    <script
        src="{{sentry_js_url}}"
        crossorigin="anonymous"
    ></script>

    <!-- Vue local source -->
    <script src="{{url_for('static', filename='js/vue/vue2.js')}}"></script>

    <!-- jQuery 3 -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Bootstrap local source -->
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script> 

   

   <script  type="module" src="{{url_for('static', filename='js/charts.js')}}"></script>



    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="d-flex flex-column h-100">
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
            <a class="navbar-brand" href="{{url_for('get_records_list', coll='bibs')}}">
                <img src="{{ url_for('static', filename='img/dhl.png') }}" style="width:60px;height:60px;">
                MARC Editor
                <span style="font-size: 9px">{{ version }}</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"> </span></button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto">
                    {% if (vcoll=="bibs" or vcoll=="all") %}
                        <li class="nav-item active"><a class="nav-link" href="{{url_for('get_records_list', coll='bibs')}}">Bibs</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{url_for('get_records_list', coll='bibs')}}">Bibs</a></li>
                    {% endif %}
                    {% if (vcoll=="speeches" or vcoll=="all") %}
                        <li class="nav-item active"><a class="nav-link" href="{{url_for('search_records', coll='bibs', subtype='speech')}}">Speeches</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{url_for('search_records', coll='bibs', subtype='speech')}}">Speeches</a></li>
                    {% endif %}
                    {% if (vcoll == "votes" or vcoll=="all") %}
                        <li class="nav-item active"><a class="nav-link" href="{{url_for('search_records', coll='bibs', subtype='vote')}}">Votes</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{url_for('search_records', coll='bibs', subtype='vote')}}">Votes</a></li>
                    {% endif %}
                    {% if vcoll=="auths" %}
                        <li class="nav-item active"><a class="nav-link" href="{{url_for('get_records_list', coll='auths')}}">Auths</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{url_for('get_records_list', coll='auths')}}">Auths</a></li>
                    {% endif %}
                    {% if vcoll=="browse" %}
                    <li class="nav-item active dropdown">
                    {% else %}
                    <li class="nav-item dropdown">
                    {% endif %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Browse
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{{url_for('browse', coll='bibs', subtype='default')}}">Bibs</a>
                          <a class="dropdown-item" href="{{url_for('browse', coll='bibs', subtype='speech')}}">Speeches</a>
                          <a class="dropdown-item" href="{{url_for('browse', coll='bibs', subtype='vote')}}">Votes</a>
                          <a class="dropdown-item" href="{{url_for('browse', coll='auths', subtype='default')}}">Auths</a>
                        </div>
                    </li>

                    {% if vcoll=="files" %}
                    <li class="nav-item active dropdown">
                    {% else %}
                    <li class="nav-item dropdown">
                    {% endif %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Files
                        </a>
                        {% if current_user.is_authenticated %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{{url_for('manage_files')}}">Manage Files</a>
                            {% if current_user.has_permission('importMarc') %}
                                <a class="dropdown-item" href="{{url_for('import_marc')}}">Import Records</a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </li>
                    
                    {% if current_user.is_authenticated %}
                        {% if current_user.has_permission('updateRecord') %}
                            {% if vcoll=="editor" %}
                                <li class="nav-item active"><a class="nav-link" href="{{url_for('newui')}}">Record Editor</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{url_for('newui')}}">Record Editor</a></li>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    
                    {% if current_user.is_authenticated %}                    
                        {% if vcoll=="dashboard02" or vcoll=="dashboard03"%}  
                        <li class="nav-item active dropdown">
                        {% else %}  
                        <li class="nav-item dropdown">
                        {% endif %}    
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reports and Dashboards
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown"> 
                            <a class="dropdown-item" href="{{url_for('show_dashboard02')}}">File Upload Dashboard Charts</a>       
                            <a class="dropdown-item" href="{{url_for('show_dashboard03')}}">IMU KPIs</a>   
                            </div> 
                        </li>                          
                    {% endif %}

                    {% if vcoll=="help" %}
                        <li class="nav-item active"><a class="nav-link" href="{{url_for('help')}}">Help</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{url_for('help')}}">Help</a></li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item"><span class="navbar-text">Welcome back {{current_user.username}} <a href="{{url_for('logout')}}">Logout</a></span></li>
                    <li class="nav-item"><span class="navbar-text mx-1">|</span></li>
                        {% if current_user.has_role('admin') %}
                            <li class="nav-item"><span class="navbar-text"><a href="{{url_for('admin_index')}}">Admin</a></span></li>
                        {% endif %}
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{url_for('login')}}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div id="chart"></div>  
    </header>

    <main role="main" class="flex-shrink-0">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
            {% block content %} {% endblock %}


    </main> 
</body>
  
</html>