<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{{title|title}}</title>

    <!-- Customize CSS -->
    <link href="{{url_for('static', filename='css/charts.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/record.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/search.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/un_template.css')}}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='img/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='img/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='img/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='site.webmanifest')}}">
    <link rel="mask-icon" href="{{url_for('static', filename='img/safari-pinned-tab.svg')}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename="css/bootstrap.min.css")}}"

    <!-- Font awesome link -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    <!-- Sentry for JS -->
    <script
        src="{{sentry_js_url}}"
        crossorigin="anonymous"
    ></script>

    <!-- Vue local source -->
    <script src="{{url_for('static', filename='js/vue/vue.global.js')}}"></script>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->

    <!-- Bootstrap local source -->
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script> 

    {% if vcoll=="files" %}
    <!-- jQuery 3 -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    {% endif %}

    <!-- These libraries need to be downloaded locally -->
    {% if vcoll=="dashboards" %}
    <script src="https://unpkg.com/@mongodb-js/charts-embed-dom@3.2.1/dist/charts-embed-dom.umd.min.js"></script>
    <script src="https://unpkg.com/@mongodb-js/charts-embed-dom"></script>

    <script  type="module" src="{{url_for('static', filename='js/charts.js')}}"></script>
    {% endif %}



    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{url_for('get_records_list', coll='bibs')}}">
                    <img src="{{url_for('static', filename='img/dhl.png')}}" style="width: 60px;height: 60px;">MARC Editor
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      {% if (vcoll=="bibs" or vcoll=="all") %}
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('get_records_list', coll='bibs')}}">Bibs</a>
                      </li>
                      {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{url_for('get_records_list', coll='bibs')}}">Bibs</a>
                      </li>
                      {% endif %}
                      {% if (vcoll=="speeches" or vcoll=="all") %}
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('get_records_list', coll='bibs', subtype='speech')}}">Speeches</a>
                      </li>
                      {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{url_for('get_records_list', coll='bibs', subtype='speeches')}}">Speeches</a>
                      </li>
                      {% endif %}
                      {% if (vcoll=="votes" or vcoll=="all") %}
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('get_records_list', coll='bibs', subtype='votes')}}">Votes</a>
                      </li>
                      {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="{{url_for('get_records_list', coll='bibs', subtype='votes')}}">Votes</a>
                      </li>
                      {% endif %}
                      <li class="nav-item dropdown">
                        {% if vcoll=="auths" %}
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">
                          Auths
                        </a>
                        {% else %}
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Auths
                          </a>
                        {% endif %}
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{url_for('get_records_list', coll='auths')}}">Auths</a></li>
                          <li><a class="dropdown-item" href="{{url_for('review_auth')}}">Review Auths</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        {% if vcoll=="browse" %}
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">
                          Browse
                        </a>
                        {% else %}
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Browse
                          </a>
                        {% endif %}
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{url_for('browse', coll='bibs', subtype='default')}}">Bibs</a></li>
                          <li><a class="dropdown-item" href="{{url_for('browse', coll='bibs', subtype='speech')}}">Speeches</a></li>
                          <li><a class="dropdown-item" href="{{url_for('browse', coll='bibs', subtype='vote')}}">Votes</a></li>
                          <li><a class="dropdown-item" href="{{url_for('browse', coll='auths', subtype='default')}}">Auths</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        {% if vcoll=="files" %}
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">
                          Files
                        </a>
                        {% else %}
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Files
                        </a>
                        {% endif %}
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{{url_for('upload_files')}}">Upload Files</a></li>
                          <li><a class="dropdown-item" href="{{url_for('search_files')}}">Manage Files</a></li>
                          {% if current_user.is_authenticated %}
                          {% if current_user.has_permission('importMarc') %}
                            <li><a class="dropdown-item" href="{{url_for('import_marc')}}">Import Records</a></li>
                            {% endif %}
                          {% endif %}
                        </ul>
                      </li>
                      {% if vcoll=="editor" %}
                      <li><a class="nav-link active" aria-current="page" href="{{url_for('editor')}}">Editor</a></li>
                      {% else %}
                      <li><a class="nav-link" href="{{url_for('editor')}}">Editor</a></li>
                      {% endif %}
                      <li class="nav-item dropdown">
                        {% if vcoll=="dashboards" %}
                        <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-current="page">
                            Dashboards
                        </a>
                        {% else %}
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dashboards
                        </a>
                        {% endif %}
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{url_for('show_dashboard02')}}">File Upload Dashboard</a></li>
                            <li><a class="dropdown-item" href="{{url_for('show_dashboard03')}}">IAMU KPIs</a></li>
                        </ul>
                      </li>
                      {% if vcoll=="help" %}
                      <li><a class="nav-link active" aria-current="page" href="{{url_for('help')}}">Help</a></li>
                      {% else %}
                      <li><a class="nav-link" href="{{url_for('help')}}">Help</a></li>
                      {% endif %}       
                      {% if current_user.is_authenticated %}
                        {% if current_user.has_role('admin') %}
                            {% if vcoll=="admin" %}
                            <li><a class="nav-link active" aria-current="page" href="{{url_for('admin_index')}}">Admin</a></li>
                            {% else %}
                            <li><a class="nav-link" href="{{url_for('admin_index')}}">Admin</a></li>
                            {% endif %}
                        {% endif %}
                      {% endif %}
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item"><span class="navbar-text">Welcome back {{current_user.username}}</span>
                            <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                        </li>
                        {% else %}
                        <li><a class="nav-link" href="{{url_for('login')}}">Login</a></li>
                        {% endif %}
                    </ul>
                  </div>
                </div>
              
            </div>
        </nav>
    </header>

    <main role="main" class="flex-shrink-0">
            {% block content %} {% endblock %}
    </main> 
</body>
  
</html>