{% extends 'base.html' %} {% block content %}
<div style="background-color:grey;">
    <div id="browse_vm" v-show="true">
        <messagecomponent></messagecomponent>
        <div class="row">
            <sidebarcomponent sbtype="facet"></sidebarcomponent>
            {% if index and q %}
            <browsecomponent api_prefix="{{api_prefix}}" collection="{{coll}}" index="{{index}}" q="{{q}}"></browsecomponent>
            {% else %}
            <browsecomponent api_prefix="{{api_prefix}}" collection="{{coll}}" index_list="{{index_list}}"></browsecomponent>
            {% endif %}
            <sidebarcomponent sbtype="other"></sidebarcomponent>
        </div>
    </div>
</div>

<script type="module" src="{{url_for('static', filename='js/browse_vm.js')}}"></script>

{% endblock %}