{% extends 'base.html' %} {% block content %} 
  <!-- New UI component integration --> 
  {% if current_user.is_active %}
  <div style="background-color:grey;">     
    <style>
        .modal-active{
          display:block;
        }
    </style>
    <div id="new_ui_component" v-show="true">
        <headercomponent api_prefix="{{prefix}}"></headercomponent>
        <messagecomponent></messagecomponent>
        <modalmergecomponent prefix="{{prefix}}"></modalmergecomponent>
        <div class="d-flex w-100">
                <basketcomponent basket_id="userprofile/my_profile/basket" api_prefix="{{prefix}}" ></basketcomponent>
                <multiplemarcrecordcomponent url="dev/api" prefix="{{prefix}}" records="{{records}}" workform="{{workform}}" fromworkform="{{fromWorkform}}"></multiplemarcrecordcomponent>        
        </div>
        <selectworkform api_prefix="{{prefix}}" collection="auths"></selectworkform>
        <selectworkform api_prefix="{{prefix}}" collection="bibs"></selectworkform>
  </div>
  <script type="module">
import { headercomponent } from "{{url_for('static', filename='js/header.js')}}"
import { basketcomponent } from "{{url_for('static', filename='js/basket.js')}}"
import { multiplemarcrecordcomponent } from "{{url_for('static', filename='js/record.js')}}"
import { messagecomponent } from "{{url_for('static', filename='js/messagebar.js')}}"
import { modalmergecomponent } from "{{url_for('static', filename='js/merge.js')}}"
import { selectworkform } from "{{url_for('static', filename='js/modals/select_workform.js')}}"

const vm_new_ui_component = Vue.createApp({
    components: { headercomponent, basketcomponent, messagecomponent, modalmergecomponent, multiplemarcrecordcomponent, selectworkform },
}).mount("#new_ui_component")
  </script>
  {% endif %}
{% endblock %}