{% extends 'base.html' %} {% block content %}
<div class="container">
    <div id="s-lg-widget-1568228557213"></div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://lgapi-us.libapps.com/widgets.php?site_id=50&widget_type=9&output_format=1&widget_embed_type=2&guide_id=1268490&page_id=0&enable_navigation=1&config_id=1663253852702";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","s-lg-widget-script-1568228557213");</script>
</div>

{% endblock %}