{% extends 'base.html' %} {% block content %}
<div class="container">
    <script>
        var springStats = springStats || {};
        springStats.saConfig = springStats.saConfig || {
            site_id: 50,
            tracking_parameters: {"_st_site_id":50},
            tracking_server_host: "libguides-proc.springyaws.com"
        };
        </script>
        <script async  src="//lgapi-us.libapps.com/web/js/sa.min.js?3116"></script>
        <script>
            springSpace.Common = springSpace.Common || { };
            springSpace.Common.constant = { PROCESSING: { ACTION_DISPLAY_POLL: 159 }};
            springSpace.Common.baseURL = "//lgapi-us.libapps.com'/";
            springSpace.Common.apiLoad = true;
        </script>
            <script>
                springshare_widget_config_1568228557213 = { path: 'boxes/22070964' };
            </script>
            <div id="s-lg-widget-1568228557213"></div>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://lgapi-us.libapps.com/widgets.php?site_id=50&widget_type=9&output_format=1&widget_embed_type=2&guide_id=1268490&page_id=9302588&enable_navigation=1&config_id=1663253852702";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","s-lg-widget-script-1568228557213");</script>    
</div>

{% endblock %}