{% extends 'base.html' %} {% block content %}
<div class="container">
<script type="text/javascript" src="//lgapi-us.libapps.com/web/js2.18.6/springshare.public.min.js"></script>
<script type="text/javascript" src="//lgapi-us.libapps.com/web/js2.18.6/springshare.common.min.js"></script>
<script type="text/javascript" src="//lgapi-us.libapps.com/web/js2.18.6/common/springspace_sui_helptip.js"></script>
<link rel="stylesheet" href="//lgapi-us.libapps.com/web/css2.18.6/springshare.public.min.css"/>
<link rel="stylesheet" href="//lgapi-us.libapps.com/web/css2.18.6/springshare.common.min.css"/>
<link href="//lgapi-us.libapps.com/web/css2.18.6/common/springspace_sui_helptip.css" rel="stylesheet">

<script>
var springStats = springStats || {};
springStats.saConfig = springStats.saConfig || {
    site_id: 50,
    tracking_parameters: {"_st_site_id":50},
    tracking_server_host: "libguides-proc.springyaws.com"
};
</script>
<script async  src="//lgapi-us.libapps.com/web/js/sa.min.js?3116" ></script>

<script>
    springSpace.Common = springSpace.Common || {};
    springSpace.Common.constant = {PROCESSING: {ACTION_DISPLAY_POLL: 159 }};
    springSpace.Common.baseURL = "//lgapi-us.libapps.com'/";
    springSpace.Common.apiLoad = true;
</script>
<!-- !box_widget_includes_js.twig -->
<script>springshare_widget_config_1663868832118 = { path: 'boxes/29437406' };</script><div id="s-lg-widget-1663868832118"></div><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://lgapi-us.libapps.com/widgets.php?site_id=50&widget_type=8&output_format=1&widget_title=Introduction&widget_height=&widget_width=&widget_embed_type=1&guide_id=1268490&box_id=29437406&map_id=34635920&content_only=0&include_jquery=0&config_id=1663868832118";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","s-lg-widget-script-1663868832118");</script>
</div>

{% endblock %}