{% extends 'base.html' %} {% block content %}

<div class="container mt-3>
  <div class="container mt-4 mb-4 ">
    <h4>Upload Files</h4>
    <hr />
<p>Below are the steps to upload files to the Central Database. After the files are uploaded here, a syncing operation runs and makes them available in UNDL in due time.</p>
<ol>
<li> 1- Drag and drop or browse to select files to upload. Please make sure that the filenames adhere to the following conventions: </li>
<ul>
<li>A slash (/) in the symbol is replaced by an underscore(_)</li>
<li>Other punctuation/characters/spaces should be the same as they appear in the document symbol</li>
<li>At the end of the symbol, add dash(-) followed by the one letter-code for the language (-A, -C, -E, -F, -R, -S) or the two letter-code (-AR, -ZH, -EN, -FR, -RU, -ES, -DE )<br>
Example: A_RES_76_1-EN.pdf</li>
</ul>
<li>2- After uploading the files you can go through the list of the files: 
<ul>
<li>Check the <b>symbol</b> and change it if it was not converted properly. </li>
<li>Check the <b>languages</b>  and change them if they were not selected correctly automatically. </li>
<li>Select either <b> Keep</b> or <b>Overwrite</b>:<br>
<b> Keep:</b>  Is the default and safest option. Select it if you want to upload a file and aren't sure if it exists already. If file exists, it doesn’t upload it. If file doesn’t exist, it creates it.<br>
<b>Overwrite:</b> Select it if you want to replace existing file. If file doesn’t exist, it creates it.
</li>
</ul>

</li>
<li>
3- After pressing the Process Files button, you will get a list that will tell you if the file has been properly uploaded or if there were any issues. </li>
</ol>
  </div>

  
  <div class="container mt-3 ">
    <div class="card border-white">
      <div class="card-body">
        <div class="dashed_upload">
          <div class="wrapper">
            <div class="drop">
              <div class="cont">
                <div class="tit"> Drag & Drop </div>
                <div class="desc"> or </div>
                <div class="browse"> click here to browse </div>
              </div>
                <form action="{{url_for('process_files')}}" method="POST" enctype="multipart/form-data">
                  <input id="files" name="file[]" type="file" multiple />
                  <!-- <input type="submit" value="Submit">
                </form> -->
                  <!-- <button type="submit" class="btn btn-primary">Process Files</button>
                </form> -->
              <!-- <output id="list"></output> -->
            </div>
          </div>
        </div>

        <div id="correctsize"  style="display:none;" class="mb-3 text-success font-weight-bold">  </div>
        <div id="incorrectsize" style="display:none;" class="mb-3 text-danger font-weight-bold">  </div> 
        <div class="preview">

        </div>

        <div class="toSend">
          <textarea class="form-control" id="fileText" name="fileText">Data to send</textarea>
        </div>
        <button type="submit" class="btn btn-primary" id="process"  style="display:none;">Process Files</button>
        
        </form>
                
      </div>
      
    </div>
    </div>
  </div>
</div>  
<script type="module" src="{{ url_for('static', filename='js/file.js') }}" defer></script>
<script type="module" src="{{ url_for('static', filename='js/filecontent.js') }}" defer></script>
<script>


    function resetUI(){
      let correct=document.getElementById("correctsize");
      let incorrect=document.getElementById("incorrectsize");
      let btn = document.getElementById("process");

      // reset the message about the size of the upload
      incorrect.style.display= 'none';  
      correct.style.display= 'none';  

      // reset the button to process
      btn.style.display = 'none';

    }

    $("div *").change(function() {
      resetUI()
      let file = document.getElementById("files");
      let btn = document.getElementById("process");
      let limitSize=1073741824
      let correct=document.getElementById("correctsize");
      let incorrect=document.getElementById("incorrectsize");

          if (file.files.length == 0 ){
            btn.style.display = 'none';
          } 
          
          let sizeFile=0
          for (let myfile of file.files){
            sizeFile+=myfile.size
          }

          if (file.files.length > 0 )
              if(sizeFile>limitSize) {
                incorrect.textContent=`The total size of your files is > ${limitSize} kb (1Gb). Consider uploading less,otherwise your request might not be served`
                incorrect.style.display= 'inline-block';  
              } else {
                correct.textContent=`The total size of your files is : ${sizeFile} Kb`
                correct.style.display= 'inline-block';  
                btn.style.display = 'inline-block';
                }
    })
</script>

{% endblock %}