{% extends 'base.html' %} {% block content %}    

    <div id="oldui" class="col-lg"  class="container shadow text-left border border-success rounded mt-3" >
            {% if record_id %}
            <marc-record url="marc/{{ coll }}/records/{{ record_id }}" token="{{current_user.is_active}}" prefix="{{prefix}}"></marc-record>
            {% else %}
            <marc-record  url="" token="{{current_user.is_active}}" prefix="{{prefix}}" coll="{{coll}}"></marc-record>
            {% endif %}

            <div id='histo' v-show="visible">
                <double-record-display id="double-record-display"></double-record-display>
            </div>
    </div>
    <!-- New UI component integration --> 
    <div style="background-color:grey;">
        <div class="row" id="new_ui_component" v-show="visible">
            <headercomponent></headercomponent>
            <basketcomponent></basketcomponent>
            <multiplemarcrecordcomponent urls="https://czwkm00smd.execute-api.us-east-1.amazonaws.com/dev/api/marc/bibs/records/1278539,https://czwkm00smd.execute-api.us-east-1.amazonaws.com/dev/api/marc/bibs/records/127853,https://czwkm00smd.execute-api.us-east-1.amazonaws.com/dev/api/marc/bibs/records/1278474,https://czwkm00smd.execute-api.us-east-1.amazonaws.com/dev/api/marc/bibs/records/127847"></multiplemarcrecordcomponent>      
            <warningcomponent></warningcomponent>
        </div> 
    </div> 

<script src="{{url_for('static', filename='js/custom.js')}}" defer></script>
<script src="{{url_for('static', filename='js/marc.js')}}" ></script>
<script src="{{url_for('static', filename='js/new_ui_component.js')}}"></script>
<script src="{{url_for('static', filename='js/marc-record-vue-component.js')}}"></script>

{% endblock %}