{% extends 'base.html' %} {% block content %}    

    <div id="record_vm" v-show="true" data-api_prefix="{{prefix}}">
        <readonlyrecord api_prefix="{{api_prefix}}" collection="{{collection}}" record_id="{{record_id}}"></readonlyrecord>
    </div>

<script type="module">
    import {readonlyrecord} from "{{url_for('static', filename='js/readonly_record.js')}}"

    export let readonly_vm = new Vue({
        el: "#record_vm",
        components: {readonlyrecord}
    })
</script>

{% endblock %}