{% extends 'base.html' %} {% block content %}
<div class="container shadow text-left border border-success rounded mt-3">
    {% if record_id %}
    <marc-record url="{{ coll }}/{{ record_id }}" token="{{current_user.is_active}}" prefix="{{prefix}}"></marc-record>
    {% else %}
    <marc-record url="" token="{{current_user.is_active}}" prefix="{{prefix}}" coll="{{coll}}"></marc-record>

    {% endif %}
</div>

<script src="{{url_for('static', filename='js/marc.js')}}" defer></script>

{% endblock %}