{% extends 'base.html' %} {% block content %}    

    <div id="speech_review_vm" v-show="true" data-api_prefix="{{api_prefix}}">
        <messagecomponent prefix="{{api_prefix}}"></messagecomponent>
        <div class="row">
            <speechreviewcomponent api_prefix="{{api_prefix}}"></speechreviewcomponent>
        </div>
    </div>

<script type="module">
import { speechreviewcomponent } from "{{url_for('static', filename='js/speech_review.js')}}"

const speech_review_vm = Vue.createApp({
    components: { speechreviewcomponent },
}).mount("#speech_review_vm")
</script>

{% endblock %}