{% extends 'base.html' %} {% block content %}    

    <div id="auth_review_vm" v-show="true" data-api_prefix="{{api_prefix}}">
        <messagecomponent prefix="{{api_prefix}}"></messagecomponent>
        <div class="row">
            <sidebarcomponent sbtype="facet"></sidebarcomponent>
            <authreviewcomponent api_prefix="{{api_prefix}}" search_url="{{search_url}}" logged_in="{{'1' if current_user.is_authenticated else ''}}" collection="{{collection}}" since="{{since}}"></authreviewcomponent>
            <sidebarcomponent sbtype="other"></sidebarcomponent>
        </div>
    </div>

<script type="module">
import { messagecomponent } from "{{url_for('static', filename='js/messagebar.js')}}"
import { sidebarcomponent } from "{{url_for('static', filename='js/search/sidebar.js')}}"
import { authreviewcomponent } from "{{url_for('static', filename='js/auth_review.js')}}"

const auth_review_vm = Vue.createApp({
    components: { sidebarcomponent, authreviewcomponent },
}).mount("#auth_review_vm")
</script>

{% endblock %}