{% extends 'base.html' %} {% block content %}
<div id="search_vm" v-show="true" class="container">
    <messagecomponent></messagecomponent>
    <div class="row">
        <searchcomponent api_prefix="{{api_prefix}}" collection="{{collection}}" search_url="{{search_url}}" logged_in="{{'1' if current_user.is_authenticated else ''}}" index_list="{{index_list}}"></searchcomponent>
    </div>
</div>

<script type="module">
    import { messagecomponent } from "{{url_for('static', filename='js/messagebar.js')}}"
    //import { sidebarcomponent } from "{{url_for('static', filename='js/search/sidebar.js')}}"
    import { searchcomponent } from "{{url_for('static', filename='js/search/search.js')}}"
    import { basketcomponent } from "{{url_for('static', filename='js/basket.js')}}"

    const vm_search_component = Vue.createApp({
        components: { searchcomponent, basketcomponent },
    }).mount("#search_vm")
</script>

{% endblock %}