{% extends 'base.html' %} {% block content %}
<div style="background-color:grey;">
    <div id="search_vm" v-show="true">
        <messagecomponent></messagecomponent>
        <div class="row">
            <sidebarcomponent sbtype="facet"></sidebarcomponent>
            <searchcomponent api_prefix="{{api_prefix}}" collection="{{collection}}" search_url="{{search_url}}" logged_in="{{'1' if current_user.is_authenticated else ''}}" index_list="{{index_list}}"></searchcomponent>
            <sidebarcomponent sbtype="other"></sidebarcomponent>
        </div>
    </div>
</div>

<script type="module" src="{{url_for('static', filename='js/search_vm.js')}}"></script>

{% endblock %}