{% extends 'admin/base.html' %} {% block admin %}

<style type="text/css">
    .customize {
        width: 600px;
    }
</style>

<div class="container customize shadow">
    <h1>Create User</h1>
    <hr>
    <form action="{{url_for('create_user')}}" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <p>
                {{ form.email.label }}<br> {{ form.email(class="form-control") }}
            </p>
        </div>
        <div class="form-group">
            <p>
                {{ form.password.label }}<br> {{ form.password(class="form-control") }}
            </p>
        </div>
        <div class="form-group">
            <p>
                {{ form.roles.label }}<br> {{ form.roles(class="form-control") }}
            </p>
        </div>
        <div class="form-group">
            <p>
                {{ form.views.label }}<br> {{ form.views(class="form-control") }}
            </p>
        </div>
        <div class="form-group">
            <p>{{ form.submit(class="btn btn-primary mb-5") }}</p>
        </div>
    </form>
    <hr>
</div>
{% endblock %}