{% extends 'admin/base.html' %} {% block admin %}

<style type="text/css">
    .customize {
        width: 600px;
    }
</style>

<div class="container customize shadow">
    <h1>Update User</h1>
    <hr>
    <form action="{{url_for('update_user', id=user.id)}}" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <p>
                {{ form.email.label }}<br> {{ form.email(size=32,class="form-control", value=user.email) }}
            </p>
        </div>
        <div class="form-group">
            <p>
                {{ form.roles.label }}<br> {{ form.roles(class="form-control", value=user.roles) }}
            </p>
        </div>
        <div class="form-group">
            <p>
                {{ form.views.label }}<br> {{ form.views(class="form-control", value=user.default_views)}}
            </p>
        </div>
        <p>{{ form.submit(class="btn btn-primary mb-5") }}</p>
    </form>
    <hr>
</div>
{% endblock %}