{% extends 'admin/base.html' %} {% block admin %}

<style type="text/css">
    .customize {
        height: 520px;
        width: 520px;
    }
</style>
<script type="text/javascript">
    $(function() {
        $('#datetimepicker1').datetimepicker();
    });
</script>


<div class="container customize ">

    <h1 class="mt-5"> User creation </h1>

    <hr>

    <form class="mt-5 orm-signin" method="POST" action="{{url_for('create_user')}}">
        <div class="form-group">
            <label for="email">Email </label>
            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" value="{{user.email}}">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary mb-5">Update User</button>

    </form>
</div>



{% endblock %}