{% extends 'admin/base.html' %} {% block admin %}

<div class="container">
    <div class="row">
        <a href="{{url_for('create_user')}}">Create New User</a>
    </div>
    <table class="table">
        <thead>
            <th>Email</th>
            <th>Admin?</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.email}}</td>
                <td>{{user.admin}}</td>
                <td><a href="{{url_for('update_user', id=user.id)}}">Edit</a> | <a href="">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}